body { 
    background: url(/images/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  #face i {
    color: pink; 
    font-size: 50px;
    margin: 10px;
    padding-top: 10PX;
}